page-home {
    .articles, .source{
        border-radius: 25px;
    }

    img{ 
        border-radius: 0px;
    }
    
    .first{
        border-radius: 25px 0px 0px 0px;
    }

    .last{
        border-radius: 0px 0px 0px 25px;
    }

    .elemento:hover{
        background-color: color($colors,light);
    }


    .source{
        margin: 10px;
        width: 98%;
    }

    .articles{
        background-color: color($colors, secondary);
        width: 95%;
    }

    .body{
        background-color: color($colors, light);
    }
    
}
