<ion-header>
  <ion-navbar color="secondary">
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="body">
    <ion-item padding-right class="source" color="danger">
        <ion-label>Source:</ion-label>
        <ion-select name="selected" [(ngModel)]="selectedSource" (ionChange)="loadData()">
        <ion-option *ngFor="let item of source"  value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
  <ion-card class="articles" color="danger">
    <ion-list *ngFor="let x of articles">
      <ion-item>
        <ion-thumbnail item-start *ngIf="x.urlToImage">
          <img src="{{x.urlToImage}}"  class="thumb" alt="Errore" imageViewer>
        </ion-thumbnail>
        <p text-wrap>{{x.title}}</p>
        <button ion-button item-end color="danger" (click)="openModal(this.x)"><ion-icon name="arrow-dropright" md="md-arrow-dropright-circle" color="primary"></ion-icon></button>
      </ion-item>
    </ion-list>
  </ion-card>
  <button ion-button icon-left small color="secondary" (click)="toggleAppTheme()">
      <ion-icon  name="bulb"></ion-icon>Mode
  </button>

</ion-content>