page-home {
    .articles, .thumb, .source{
        border-radius: 25px;
    }

    .source{
        margin: 10px;
        width: 98%;
    }

    .articles{
        background-color: color($colors, secondary);
        width: 98%;
    }

    .body{
        background-color: color($colors, light);
    }
}
