page-dati {
    .immagine{
        max-height: 200px;
    }

    .articles{
        border-radius: 25px;
        width: 98%;
    }

    .body{
        background-color: color($colors, light);
    }
}
